html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #FAF8F5; /* New background color */
  color: #333333; /* Dark gray text */
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px; /* Slightly increased height for aesthetic balance */
  background: #3E4E50; /* Warm gray */
  color: antiquewhite;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

#content {
  margin-top: 40px; /* Increased to account for the larger header */
  color: #333333; /* Dark gray text for better readability */
  min-height: calc(100vh - 90px - 30px); /* Adjusted for consistent spacing */
  padding-top: 30px;
}

#footer {
  background: #3E4E50; /* Same as header for consistency */
  color: antiquewhite;
  padding: 10px;  /*More padding for balance */
  height: 30px;
  font-size: 20px;
  box-shadow: 0px -2px 10px rgba(0,0,0,0.5); /* Adds depth */

  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}


/* Styles for the table on /count page */
#page_hits_table {
  margin: 0 auto; /* Centers the table */
  width: 500px; /* Adjust width as needed */
  border-collapse: collapse; /* Removes space between table cells */
  background: #FAF8F5; /* Background color */
}

#page_hits_table th, #page_hits_table td {
  border: 1px solid #3E4E50; /* Border color */
  padding: 10px; /* Spacing inside cells */
  text-align: center; /* Center-align text */
}

#page_hits_table th {
  background: #3E4E50; /* Header background color */
  color: antiquewhite; /* Header text color */
}

#page_hits_table td {
  color: #333333; /* Cell text color */
}


a {
  color: #FFA500; /* Vibrant orange for links */
  text-decoration: none; /* Removes underline */
  font-weight: bold; /* Makes the text bolder */
}

a:visited {
  color: #E69500; /* A slightly darker shade for visited links */
}

a:hover {
  color: #FFD700; /* A yellow color for hover state to really stand out */
  text-decoration: underline; /* Adds underline on hover for traditional link appearance */
}

pre{
  width: 700px;
  display: block;
  background-color: #030303;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  color: #f5f5f5;
  text-align: left;
}
