a {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }

  body{
    background-color: #343541;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100px auto;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    margin-bottom: 40px;
  }