html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #FAF8F5; /* New background color */
  color: #333333; /* Dark gray text */
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px; /* Slightly increased height for aesthetic balance */
  background: #3E4E50; /* Warm gray */
  color: antiquewhite;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); /* Adds depth */
  
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

#content {
  margin-top: 40px; /* Increased to account for the larger header */
  color: #333333; /* Dark gray text for better readability */
  min-height: calc(100vh - 100px); /* Adjusted for consistent spacing */
  padding-top: 50px;
}

#footer {
  background: #3E4E50; /* Same as header for consistency */
  color: white; /* Changed for contrast */
  padding: 20px; /* More padding for balance */
  height: auto; /* Let the content define the height */
}

a {
  color: #FFA500; /* Vibrant orange for links */
  text-decoration: none; /* Removes underline */
  font-weight: bold; /* Makes the text bolder */
}

a:visited {
  color: #E69500; /* A slightly darker shade for visited links */
}

a:hover {
  color: #FFD700; /* A yellow color for hover state to really stand out */
  text-decoration: underline; /* Adds underline on hover for traditional link appearance */
}


pre code {
  width: 700px;
  display: block;
  background-color: #030303;
  border: 0px;
  border-radius: 10px;
  padding: 0px;
  font-family: monospace;
  font-size: 14px;
  overflow-x: auto;
  color: #f5f5f5;
  text-align: left;
}