{% extends "base.html" %}

{% block title %}
    404: Not Found
{% endblock %}

{% block head %}
    <style>
        #not-found{
            width: 50%;
            height: auto;
            padding: 20px;
        }
    </style>
{% endblock %}

{% block content %}

    {{ block_header('404 Not Found', random_icon)}}
        <img src="{{ image_path }}" id="not-found">
        <h2>Oh no! The page you're looking for has scampered away.</h2>
        <p>We can't find the page you're looking for. Check the URL, or head back to safe ground.</p>
    {{ block_footer() }}

{% endblock %}
