{% extends "base.html" %}

{% block title %}TuftedFox - About{% endblock %}

{% block content %}
<div class="page-content">
    <h2>About TuftedFox</h2>
    <p> 
        Welcome to TuftedFox, where your vision comes to life in the form of beautifully crafted custom tufted rugs. 
        Our passion is transforming simple yet striking designs into unique, handmade pieces that add personality and style to any space.
        At TuftedFox, each rug is a work of art, handcrafted with precision and care. 
        We focus on creating rugs that are not just decorative items but personal statements, reflecting the tastes and personalities of our clients.
    </p>
</div>
<div class="page-content">
    <h3>Our Commitment</h3>
    <p>
        Our commitment at TuftedFox is to provide exceptional service and a product that brings joy. 
        We understand that each rug we create is not just an item but a part of your story, and we are honored to be a part of that process.
        We believe in the power of collaboration. 
        Working closely with you, we strive to ensure that the final product aligns with your vision. 
        Our goal is to create a piece that you will cherish, one that resonates with your personal style and enhances your space.
    </p>
</div>

<div class="page-content">
    <h3>Get in Touch</h3>
    <p>Interested in creating a custom rug that speaks to your style? We're here to help make your idea a reality. Contact us to begin crafting a piece that's uniquely yours.</p>
</div>

{% endblock %}
