{% extends "base.html" %}

{% block title %}
    TuftedFox - Admin Dashboard
{% endblock %}

{% block head %}
    <style>
        .element-block{
            width: 600px;
        }
        .pre-scroll{
            overflow: auto;
            max-height: 30em; /* or adjust to your desired height */
        }

        pre{
            display: block;
            background-color: #030303;
            border: 0px;
            border-radius: 10px;
            padding: 10px;
            font-family: monospace;
            font-size: 14px;
            color: #f5f5f5;
            text-align: left;
        }
        #admin-links{
            background-color: #030303;
            border: 0px;
            border-radius: 10px;
            padding: 10px;
            font-family: monospace;
            font-size: 14px;
            color: #f5f5f5;
            text-align: left;
        }
    </style>
{% endblock %}

{% block content %}
{{ block_header('Admin Dashboard', random_icon)}}
<center>
    <div id="admin-links">
        &bull; <a href="/admin/thumbnail" class="dashboard-link">Update Thumbnails</a><br>
        &bull; <a href="/admin/update" class="dashboard-link">Update Server</a><br>
        ----------------------------<br>
        &bull; <a href="/logout" class="logout-button">Logout</a><br>
    </div>
</center>
{{ block_footer()}}

{{ block_header('Contact', random_icon)}} 
    <p> {{ message_count }} Messages &bull; {{ order_count }} Orders </p>
{{ block_footer()}}

{{ block_header('Log', random_icon)}} 
    <pre><div class="pre-scroll"><code> {{ log_content }} </code></div></pre>
    <p>Server birthdate: 11/3/2023</p>
{{ block_footer() }}

{% endblock %}
