
{% extends "base.html" %}

{% block title %}
    TuftedFox - Admin - Daily Page Hits
{% endblock %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <div class="element-block" style="width: 200px;">
        <a href="/admin/dashboard"> Admin Dashboard </a>
    </div>

    {{ block_header('SQL DB QUERY', random_icon)}}
        <textarea id="queryInput"></textarea>
        <button onclick="submitQuery()">Run Query</button>
        <div id="queryResult"></div>
        <script>
        function submitQuery() {
            const query = document.getElementById('queryInput').value;
            fetch('/api/execute-query', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ query: query })
            })
            .then(response => response.json())
            .then(data => {
                // Process and display data
                const queryResultsDiv = document.getElementById('query_results');
                let displayText = 'Columns: ' + data.columns.join(', ') + '\n';
        
                data.rows.forEach((row, index) => {
                    displayText += 'Row ' + (index + 1) + ': ';
                    for (const [key, value] of Object.entries(row)) {
                        displayText += key + ': ' + value + ', ';
                    }
                    displayText += '\n';
                });
        
                queryResultsDiv.textContent = displayText;
            });
        }
        </script>
    {{ block_footer() }}

    {{block_header('Query Results',random_icon)}}
        <div id="query_results"></div>
    {{block_footer()}}

{% endblock %}
