<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}TuftedFox{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div id="header">
    <div id ="header_inner">
      TuftedFox Rugs &bull;
      <a href="/">Home</a> &bull;
      <a href="/gallery">Gallery</a> &bull;
      <a href="/order">Order</a> &bull;
      <a href="/about">About</a>
    </div>
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <div id="footer">
    <div id="footer_inner">
      <a href="/count">Page Hits</a> &bull;
      <a href="/update">Update</a> &bull;
      &copy; Overburn 2023
    </div>
  </div>
</body>
</html>