{% extends "base.html" %}

{% block title %}TuftedFox - Page Hits{% endblock %}

{% block content %}
<div class="page-content">
    <h2>Page Hits</h2>
    <table class="hits_table">
        <tr>
            <th>Page</th>
            <th>Hits</th>
        </tr>
        {% for page, hits in page_hits.items() %}
        <tr>
            <td>{{ page }}</td>
            <td>{{ hits }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="page-content">
    <h2>Invalid Hits</h2>
    <table class="hits_table">
        <tr>
            <th>Page</th>
            <th>Hits</th>
        </tr>
        {% for page, hits in page_hits_invalid.items() %}
        <tr>
            <td>{{ page }}</td>
            <td>{{ hits }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
