{% extends "base.html" %}

{% block title %}
    TuftedFox - Page Hits
{% endblock %}

{% block head %}
    <style>
        /* Styles for the table on /count page */
        .hits_table {
        margin: 0 auto; /* Centers the table */
        width: 500px; /* Adjust width as needed */
        border-collapse: collapse; /* Removes space between table cells */
        background: #FAF8F5; /* Background color */
        }

        .hits_table th, .hits_table td {
        border: 1px solid #3E4E50; /* Border color */
        padding: 10px; /* Spacing inside cells */
        text-align: center; /* Center-align text */
        }

        .hits_table th {
        background: #3E4E50; /* Header background color */
        color: antiquewhite; /* Header text color */
        }

        .hits_table td {
        color: #333333; /* Cell text color */
        }
    </style>
{% endblock %}

{% block content %}
    <div class = 'element-block'>
        <p>{{ total_unique }} unique visitors</p>
        <p>{{ total_image_hits }} image hits</p>
        <p>{{ total_valid_hits }} page hits</p>
        <p>{{ total_invalid_hits }} invalid hits</p>
    </div>

    {{ block_header('Page Hits', random_icon)}}
        <table class="hits_table">
            <tr>
                <th>Page</th>
                <th>Hits</th>
            </tr>
            {% for page, hits in page_hits %}
            <tr>
                <td>{{ page }}</td>
                <td>{{ hits }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>

        <p>Server Start Date: 11/3/2023</p>
    {{ block_footer() }}
    
{% endblock %}
