{% extends "base.html" %}

{% block title %}TuftedFox - Gallery{% endblock %}

{% block head %}
<!-- Include jQuery first if it's a dependency -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Then include Panzoom -->
<script src="https://unpkg.com/@panzoom/panzoom"></script>
<style>
/*
    .page-content{
        width: 75%;
    }
*/
    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
        gap: 10px;
        padding: 20px; /* Padding around the grid */
        justify-content: center;
    }
    .gallery-item {
        width: 100%;
        cursor: pointer;
        transition: transform 0.3s ease;
        margin-bottom: 10px; /* Space below each image */
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {  
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        z-index: 1000; 
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* Responsive Columns - After clicking the image */
    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }

    .zoom-controls {
        position: absolute;
        top: 10px; /* Adjust as necessary */
        left: 10px; /* Adjust as necessary */
        z-index: 10;
    }

    .zoom-controls button {
        background-color: #fff;
        border: none;
        padding: 5px 10px;
        margin: 0 2px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    /* You might want to add :hover and :focus styles for better user experience */
    .zoom-controls button:hover,
    .zoom-controls button:focus {
        background-color: #e8e8e8;
    }
</style>
{% endblock %}

{% block content %}

{% for category, details in galleries_data.items() %}
<div class="page-content">
    <h2>{{ category | capitalize }}</h2>
    {% if details.comment %}
        <p class="category-comment">{{ details.comment }}</p>
    {% endif %}
    <div class="gallery-grid">
        {% for thumbnail_url, image_url, comment in details.images %}
            <img class="gallery-item" src="{{ thumbnail_url }}" url-thumbnail="{{ thumbnail_url }}" url-fullsize="{{ image_url }}" data-comment="{{ comment }}" onclick="loadView(this)">
        {% endfor %}
    </div>
</div>
{% endfor %}


<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <div class="zoom-controls">
        <button id="zoom-in-button">+</button>
        <button id="zoom-out-button">-</button>
    </div>
    <div id="caption"></div>
    <img class="modal-content" id="img01">
</div>

<script>
    var modal = document.getElementById("myModal");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    function loadView(imageElement) {

        modal.style.display = "block";
        modalImg.src = imageElement.getAttribute('url-fullsize');
        captionText.innerHTML = imageElement.getAttribute('data-comment');
        if (modalImg.panzoomInstance) {
            modalImg.panzoomInstance.destroy();
        }
        modalImg.panzoomInstance = Panzoom(modalImg, {
            zoomSpeed: 0.065,
            minZoom: 1
        });
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function() {
        if (modalImg.panzoomInstance) {
            modalImg.panzoomInstance.destroy();
            modalImg.panzoomInstance = null;
        }
        modal.style.display = "none";
    }

    modalImg.addEventListener('wheel', function(e) {
        e.preventDefault(); 
        modalImg.panzoomInstance.zoomWithWheel(e);
    });

    document.getElementById('zoom-in-button').addEventListener('click', function() {
        modalImg.panzoomInstance.zoomIn();
    });

    document.getElementById('zoom-out-button').addEventListener('click', function() {
        modalImg.panzoomInstance.zoomOut();
    });

</script>

{% endblock %}
