{% extends "base.html" %}

{% block title %}TuftedFox - Gallery{% endblock %}

{% block content %}
<div class="gallery-grid">
    {% for thumbnail_url, image_url in image_data %}
    <img class="gallery-item" src="{{ thumbnail_url }}" data-fullsize="{{ image_url }}" onclick="toggleImage(this)">
    {% endfor %}
</div>

<script>
    // Function to toggle between thumbnail and full-size image
    function toggleImage(imgElement) {
        var fullSizeUrl = imgElement.getAttribute('data-fullsize');
        var isThumbnail = imgElement.src !== fullSizeUrl;
        imgElement.src = isThumbnail ? fullSizeUrl : imgElement.getAttribute('data-thumbnail-url');
        imgElement.classList.toggle('fullsize');
    }
</script>

<style>
    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
        gap: 10px;
        padding: 20px; /* Padding around the grid */
        justify-content: center;
    }
    .gallery-item {
        width: 100%;
        cursor: pointer;
        transition: transform 0.3s ease;
        margin-bottom: 10px; /* Space below each image */
    }
    .gallery-item.fullsize {
        position: fixed;
        left: 50%;
        top: 50%;
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    .gallery-item:not(.fullsize):hover {
        transform: scale(1.03);
    }
    /* Optional overlay when full-size image is displayed */
    .gallery-item.fullsize:after {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        z-index: -1;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
        display: none;
    }

    .overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 80%;
        max-height: 80%;
    }

    .overlay img {
        width: 100%;
        height: auto;
        display: block; /* Removes bottom space under the image */
    }

    /* Ensure that the full-size image is not too large on smaller screens */
    @media (max-width: 768px) {
        .gallery-item.fullsize {
            width: 90%;
            height: auto;
        }
    }
</style>
{% endblock %}
