{% extends "base.html" %}

{% block title %}TuftedFox - Gallery{% endblock %}

{% block head %}
    <style>
    #content {
        margin-top: 80px; 
    }
    .category-nav {
        position: fixed;
        top: 20px;
        width:100%;
        background-color: white;
        padding: 0px;
        z-index: 100;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    }
    .category-nav ul {
        list-style: none;
        text-align: center;
    }
    .category-nav li {
        display: inline;
        margin-right: 20px;
    }
    .category-nav a {
        text-decoration: none;
        color: #333;
    }
    
    .series-indicator {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 17px; /* Size of the icon */
        height: 22px;
        background-image: url('img/icons/multi.png'); /* Path to your icon image */
        background-size: cover;
        z-index: 2; /* To ensure it's above the image */
    }   

    .gallery-grid {
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
        grid-auto-rows: auto; /* Adjust based on your design */
        gap: 10px;
        justify-content: center;
    }
    
    {% if gallery_size == 'large' %}
        .gallery-grid {
            grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
        }
    {% endif %}

    .gallery-item {
        width: 100%;
        height: auto; /* Adjust height automatically */
        object-fit: cover; /* Maintain aspect ratio */
        cursor: pointer;
        border-radius: 10px;
    }
    

    .gallery-item-container {
        transition: transform 0.3s ease;
        border-radius: 10px;
        overflow: hidden; /* To maintain border-radius during scale */
    }
    
    .gallery-item-container:hover {
        transform: scale(1.1); /* Zoom effect on hover */
    }
    
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 9090; /* Sit on top */
        padding: 0px; 
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    
    .modal-content, #caption {  
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }
    
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        z-index: 1000; 
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    
    /* Responsive Columns - After clicking the image */
    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }
    
    .zoom-controls {
        position: absolute;
        top: 10px;
        left: 10px; 
        z-index: 10;
    }
    
    .zoom-controls button {
        background-color: #fff;
        border: none;
        padding: 5px 10px;
        margin: 0 2px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    
    .zoom-controls button:hover,
    .zoom-controls button:focus {
        background-color: #e8e8e8;
    }

    .modal-thumbnail {
        width: 100px;
        height: 100px;
        object-fit: cover;
        cursor: pointer;
        margin-right: 10px;
    }

    .thumbnails-container {
        display: flex;
        overflow-x: auto;
        padding-top: 10px;
        position: fixed;  /* Fixed position at the bottom */
        bottom: 0;        /* Align to the bottom */
        left: 0;          /* Align to the left side */
        right: 0;         /* Stretch to the right side */
        z-index: 100;     /* Ensure it's above other elements */
        justify-content: center; /* Center-align the thumbnails */
    }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@panzoom/panzoom"></script>

    <script>
        var rugData = {
            {% for category, details in galleries_data.items() %}
                {% for rug in details.images %}
                    "{{ rug.name }}": {{ rug.images | tojson | safe }},
                {% endfor %}
            {% endfor %}
        };
    </script>

{% endblock %}

{% block content %}

<div class="category-nav element-block">
    <ul>
    {% for category, details in galleries_data.items() %}
        <li><a href="#{{ category | replace(' ', '_') | lower }}">{{ category | capitalize }}</a></li>
    {% endfor %}
    </ul>
</div>

{% for category, details in galleries_data.items() %}
    <div class="element-block" id="{{ category | replace(' ', '_') | lower }}">
        <div class="element-header">
            <img src="{{ random_icon }}" class="icon-left">
            <h2>{{ category | capitalize }}</h2>
            <img src="{{ random_icon }}" class="icon-right">
            {% if details.comment %}
        </div>
        <div class="element-header">
            <p class="category-comment">{{ details.comment }}</p>
            {% endif %}
        </div>
            <div class="gallery-grid">
                {% for rug in details.images %}
                    <div class="gallery-item-container" style="position: relative;">
                        <img class="gallery-item" src="{{ rug.images[0][0] }}" id="rug_{{ rug.name }}" onclick="loadView('{{ rug.name }}')">
                        {% if rug.images|length > 1 %}
                            <div class="series-indicator"></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
    </div>
{% endfor %}

<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <div class="zoom-controls">
        <button id="zoom-in-button">+</button>
        <button id="zoom-out-button">-</button>
    </div>
    <div id="caption"></div>
    <img class="modal-content" id="img01">
</div>

<script>
    var modal = document.getElementById("myModal");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    function loadView(rugName) {
        var images = rugData[rugName]; // Retrieve images for the clicked rug
        modal.style.display = "block"; // Show the modal

        // Set the first image in the modal by default
        modalImg.src = images[0][1]; // Full-size image URL
        captionText.innerHTML = images[0][2]; // Comment for the first image

        // Check if there are multiple images
        if (images.length > 1) {
            // Create or reuse the thumbnails container
            var existingThumbnailsContainer = document.querySelector('.thumbnails-container');
            var thumbnailsContainer = existingThumbnailsContainer || document.createElement('div');
            if (!existingThumbnailsContainer) {
                thumbnailsContainer.className = 'thumbnails-container';
                captionText.after(thumbnailsContainer);
            } else {
                // Clear previous thumbnails if reusing the container
                while (thumbnailsContainer.firstChild) {
                    thumbnailsContainer.removeChild(thumbnailsContainer.firstChild);
                }
            }

            // Add thumbnails to the container
            images.forEach(function(image, index) {
                var thumb = document.createElement('img');
                thumb.src = image[0]; // Thumbnail URL
                thumb.className = 'modal-thumbnail'; // Assign the class
                thumb.onclick = function() {
                    modalImg.src = image[1]; // Update modal image on click
                    captionText.innerHTML = image[2]; // Update caption
                };
                thumbnailsContainer.appendChild(thumb);
            });
        } else {
            // If there's only one image, ensure no thumbnails container is displayed
            var existingThumbnailsContainer = document.querySelector('.thumbnails-container');
            if (existingThumbnailsContainer) {
                existingThumbnailsContainer.remove();
            }
        }

        // Panzoom reinitialization for the new modal image
        if (modalImg.panzoomInstance) {
            modalImg.panzoomInstance.destroy();
        }
        modalImg.panzoomInstance = Panzoom(modalImg, {
            zoomSpeed: 0.065,
            minZoom: 1
        });
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function() {
        if (modalImg.panzoomInstance) {
            modalImg.panzoomInstance.destroy();
            modalImg.panzoomInstance = null;
        }
        modal.style.display = "none";
    }

    modalImg.addEventListener('wheel', function(e) {
        e.preventDefault(); 
        modalImg.panzoomInstance.zoomWithWheel(e);
    });

    document.getElementById('zoom-in-button').addEventListener('click', function() {
        modalImg.panzoomInstance.zoomIn();
    });

    document.getElementById('zoom-out-button').addEventListener('click', function() {
        modalImg.panzoomInstance.zoomOut();
    });

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>

{% endblock %}
