{% extends "base.html" %}

{% block title %}TuftedFox - Order{% endblock %}

{% block head %} {% endblock %}

{% block content %}
<h2>Welcome to the creative process at TuftedFox!</h2>
<div class="page-content">
    <h2>Image Guidelines for Custom Rugs</h2>
    <p>
        When designing your personalized rug, it's important to choose the right kind of image. 
        Ideal images for rug creation are those with flat colors and without shading or gradients. 
        We recommend avoiding thin lines, or areas with excessive localized detail. 
        Cartoon-style drawings or images with clear, bold lines translate beautifully into rug art. 
        Choose your image thoughtfully to ensure a stunning and timeless rug creation!
    </p>
</div>
<div class="page-content">
    <h2>Sizing</h2>
    <p>
        To ensure the best representation of your chosen image on our custom tufted rugs, we recommend larger sizes. 
        Larger rugs function like a canvas with more 'pixels,' each strand of yarn capturing finer details of your image. 
        Conversely, smaller rugs may not depict intricate details as effectively due to fewer yarn strands. 
        Our maximum rug size of 36 x 36 inches allows for a detailed and vivid portrayal of your artistic visions, balancing image size and detail level optimally.
    </p>
</div>

<div class="page-content">
    <h2>Pricing</h2>
    <p>TBD $ per square foot</p>
</div>
{% endblock %}
