{% extends "base.html" %}

{% block title %}
    TuftedFox - Update Server
{% endblock %}

{% block head %}
    <style>
        .pre-scroll{
            overflow: auto;
            max-height: 30em; /* or adjust to your desired height */
        }

        pre{
            display: block;
            background-color: #030303;
            border: 0px;
            border-radius: 10px;
            padding: 10px;
            font-family: monospace;
            font-size: 14px;
            color: #f5f5f5;
            text-align: left;
        }
    </style>
{% endblock %}

{% block content %}
    {{ block_header('Uptime', random_icon)}} 
        <p id="uptime"></p>
    {{ block_footer() }}

    {{ block_header('Update', random_icon)}}
        <form method="post">
            <label for="secret_word">Password:</label>
            <input type="password" id="secret_word" name="secret_word" required>
            <input type="submit" value="Update Server" onclick="this.form.action='/update';">
            <input type="submit" value="Update Thumbnails" onclick="this.form.action='/thumbnail_everything';">
        </form>
    {{ block_footer() }}

    {{ block_header('Log', random_icon)}} 
        <pre><div class="pre-scroll"><code> {{ log_content }} </code></div></pre>
        <p>Server birthdate: 11/3/2023</p>
        <p> {{ message_count }} Messages </p>
    {{ block_footer() }}

    <script>
        function savePassword(event) {
            event.preventDefault(); // Prevent form submission
            var secretWordInput = document.getElementById("secret_word");
            var secretWord = secretWordInput.value;
            localStorage.setItem("secretWord", secretWord);
            event.target.submit();
        }

        window.addEventListener("load", function(){
            var secretWordInput = document.getElementById("secret_word");
            var savedSecretWord = localStorage.getItem("secretWord");
            if (savedSecretWord) {
                secretWordInput.value = savedSecretWord;
            }
        });

        function calculateUptime() {
            var startTime = new Date('{{ app_start_time }}' * 1000);
            var uptime = new Date() - startTime;
            var seconds = Math.floor(uptime / 1000);
            var minutes = Math.floor(seconds / 60);
            var hours = Math.floor(minutes / 60);
            var days = Math.floor(hours / 24);

            seconds = seconds % 60;
            minutes = minutes % 60;
            hours = hours % 24;

            document.getElementById('uptime').innerHTML = `${days} days, ${hours} hours, ${minutes} minutes, ${seconds} seconds`;
        }

        calculateUptime();
        setInterval(calculateUptime, 1000); 
    </script>

{% endblock %}
